body {
  background-image: url(../img/portwall.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

img {
  float: right;
  margin: 10px;
}

.col-md-4 {
  border: 3px;
  margin: 1px:auto;
  width: 33%;
  border-radius: 22%
  float: left;
}

.contact {
  display: inline-block;
  padding: 0;
  text-align: center;
}

.contact li {
  display: inline;
}

.contact li a {
  white-space: nowrap;
}

.contact li:first-child:after {
  content:" \2022";
  letter-spacing: 1em;
  background:center center no-repeat url;
}

.me {
  padding-left: 12px;
  padding-right: 12px;
}
/*Portfolio Landing Page
Create a portfolio webpage using HTML and CSS, which will later act as the landing page for your programming portfolio. Do not use a template to create your initial HTML/bootstrap setup. Begin your work with an empty page and an initial empty commit.

Your project should include the following:

Your name.
An image of you, or something that represents you.
A list of projects you have created with active links to their GitHub pages sites or GitHub repositories.
For each, include a brief description of the project and what languages it uses.
An “About Me” section.
Your background (education, job experience, or why did you decide to take a class on programming, etc).
Your current interests/hobbies/skills.
Create a gh-pages branch so that your site can be viewed on GitHub Pages at your-username.github.io/portfolio (for example).
Don't forget your Git commits with an initial commit and a commit for every major code change, and include a README in your GitHub repository!*/
